.main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
}
.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  max-width: 100%;
  overflow: hidden;
}

.item {
  background-color: #fff;
}

.filter {
  background-color: #fff;
}
.filter div {
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeee4;
  padding: 5px;
  border-radius: 5px;
}

.content {
  margin-left: 20px;
  margin-top: 10px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px;
  margin-top: 3px;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 100%;
  }
  .main {
    grid-template-columns: 100%;
  }

  button {
    padding: 16px 40px;
  }
}

h2 {
  text-align: center;
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {
  .container {
    grid-template-columns: 50% 50%;
  }
  button {
    padding: 5px 16px;
  }
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif")
    50% 50% no-repeat rgb(249, 249, 249);
}

.no-content {
  text-align: center;
  font-size: 30px;
  padding-top: 20%;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  height: 20px;
  margin-top: 20px;
}

.active {
  background-color: green;
}
